<div class="side-bar-header">
  <div class="app-name">
    <a href="#">CAMP-STYLE</a>
  </div>
</div>

<div class="user-items">
  <div class="item-btn">
    <%= link_to "+マイアイテム","#", class: "post" %>
  </div>
  <ul class="items">
    <div class="item">
      <li>飯盒</li>
    </div>
    <div class="item">
      <li>ランタン</li>
    </div>
    <div class="item">
      <li>シュラフ</li>
    </div>
  </ul>
</div>