.item-datas {
  width: calc(100% - 250px);
  background-color: darkolivegreen;
  padding: 30px;
}

.item-data {
  margin-bottom: 20px;

}

.data-name {
  font-size: 25px;
}

.data {
  font-size: 18px;
}